__pycache__/
.venv/
.idea/
.vscode/
*.pyc
**/*.zarr
**/outputs/**
**/checkpoints/**
**/wandb/**
**/*.pth
**/*.pt
**/*.ckpt
**/*.zip
**/*.tar
**/*.tar.gz
**/*.mp4
**/*.avi
data/**
**/*.log
**/*.tmp
gym_unrealcv/envs/UnrealEnv/*
diffusion_policy-main/train_data
diffusion_policy-main/run